[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "Dynamixel_motors/DynamixelSDK"]
	path = Dynamixel_motors/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
